.w3-bar-item.active {
  background-color: #ffffff; /* White background */
  color: #000000; /* Black text */
}
.w3-bar-item.active:hover::before {
  content: attr(title);
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  bottom: calc(100% + 5px);
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}
body {
  font-family: "Lato", sans-serif;
  background-color: #101010;
  color: #fff;
}

.mySlides {
  display: none;
}
.slide-content {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.container {
  padding: 20px;
  margin: 20px auto; /* Add margin at the top and bottom and center horizontally */
  max-width: 800px;
  background-color: #333;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.container h1,
.container h2,
.container h3,
.container h4,
.container h5,
.container h6 {
  color: #fff;
}

.container p,
.container ol,
.container ul {
  color: #ddd;
}
.navbar-icons {
  width: 25px;
  height: 25px;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.active {
  background-color: darkgrey;
}

/* Navigation arrows */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
